.tree {
  cursor: pointer;
}
.tree-item {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 5px;
}

.main-comp {
  margin-left: 10px;
}

.add__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
