* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.skeleton_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.outer_box {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

.mini_box {
  height: 60px;
  width: 60px;
  border-radius: 10%;
  cursor: pointer;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.mini_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.mini_box.hide {
  transform: rotateY(180deg);
}
