body {
  font-family: sans-serif;
  padding: 20px;
}

#browseBtn {
  padding: 10px 18px;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

#dragbrowseBtn {
  color: black;
  cursor: pointer;
  display: inline-block;
}

#dropZone {
  margin-top: 20px;
  padding: 40px;
  border: 2px dashed #999;
  border-radius: 10px;
  text-align: center;
  color: #555;
  cursor: pointer;
}

#preview {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.imgBox {
  position: relative;
}

.removeBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 12px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ccc;
}
