.parent_layout {
  flex-direction: "row";
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-around;
}

.child_comp {
  background-color: lightgray;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  padding: 10px;
}
.child_body {
  width: 90%;
  position: relative;
}
.child_description {
  border-radius: 2%;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  cursor: grab;
  position: relative;
  padding-left: 30px;
}
.shuffle_button {
  position: absolute;
  left: 5px;
  cursor: pointer;
}
h3 {
  text-align: left;
  width: 80%;
}
