.carousel {
  width: 50vw;
  height: 50vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  /* margin-left: 40px;
  margin-top: 40px; */
  position: relative;
  height: 100%;
  width: 100%;
}
.box[mouseenter="true"] {
  cursor: pointer;
}
.mouseenter-class {
border: 10px solid red;
}
.button__class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  bottom: 0;
}

#prev,
#next {
  width: 50px;
  height: 50px;
  background-color: blanchedalmond;
  position: absolute;
}

#prev {
  top: 50%;
  left: 23.5%;
}

#next {
  top: 50%;
  right: 23.5%;
}
.box > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: 200px;
  left: 0;
  top: 0;
  border-radius: 6px;
  position: absolute;
  transition: opacity 0.4s linear;
}

.box > img[data-active="true"] {
  opacity: 1;
  background-color: red;
}

.box > img[data-active="false"] {
  opacity: 0;
  background-color: blue;
}
.stepper__class {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.stepper__class > button {
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(81, 79, 79);
  color: white;
}

.stepper__class > button:focus {
  outline: none;
}
.stepper__class > button[current-button="true"] {
  outline: 2px solid rgb(226, 212, 12);
}
