.carousel {
  width: 50vw;
  height: 50vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  /* margin-left: 40px;
  margin-top: 40px; */
  position: relative;
  height: 100%;
  width: 100%;
}
.button__class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

}

.button__class > button{
  width: 50px;
  height: 50px; 
  background-color: blanchedalmond;
}
.box > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: 200px;
  left: 0;
  top: 0;
  border-radius: 6px;
  position: absolute;
  transition: opacity 0.4s linear;
}

.box > img[data-active="true"] {
  opacity: 1;
  background-color: red;
}

.box > img[data-active="false"] {
  opacity: 0;
  background-color: blue;
}
